<ion-view hide-nav-bar="true" view-title="Home">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Welcome to Rad Tours</h1>
        <a class="button button-icon icon ion-ios-help-outline" ng-click="openInfoModal()"></a>
    </header>
  <ion-content class="has-header padding front-page">  
    <div class="container">
    <p>
    Welcome to Rad Tours, check out some popular tours below.   
    </p>
    
    <div class="list">
        <a class="item" href="#/tab/map" ng-click="goTo(key)" ng-repeat="(key, location) in popularTours|limitTo:3">{{location.title}}</a>
    </div>
    </div>
  </ion-content>
</ion-view>
