<ion-view hide-nav-bar="true" view-title="Home">
<header class="bar bar-header bar-stable">
    <img id="logo" src="img/RADhistoriesLogo.jpg">
<!--    <h1 class="title">RAD Histories</h1>-->
    <button ng-click="locate();" class="button button-icon icon  pull-right ion-pinpoint"S></button>
</header>

<!--
  <ion-nav-buttons side="right">
    <button ng-click="locate();" class="button button-icon icon ion-pinpoint"></button>
  </ion-nav-buttons>
-->

  <ion-content class="has-header" data-tap-disabled="true">

    <leaflet defaults="map.defaults" layers="map.layers" center="map.center" markers="map.markers" ng-if="map"></leaflet>

  </ion-content>
</ion-view>
