<ion-view hide-nav-bar="true" view-title="Home">
   <header class="bar bar-header bar-stable">
      <h1 class="title">Settings</h1>
    </header>
    <ion-content class="has-header" ng-controller="SettingsCtrl">
    <div class="container">
        <ul class="list">
            <li class="item item-toggle">
                Allow Geotracking
                <label class="toggle toggle-positive">
                    <input type="checkbox" ng-init="geotrack=true" ng-model="geotrack" ng-click="toggleGeo(geotrack)">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item item-toggle">
                Turn off Geotracking
                <label class="toggle toggle-positive">
                <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item item-toggle">
                Whatever else
                <label class="toggle toggle-positive">
                <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
        </ul>
    </div>

    </ion-content>

</ion-view>

