body {
  height: auto;
  min-height: 100%;
}

.scroll, .angular-leaflet-map {
  height: 100%;
}

.leaflet-bottom {
  bottom : 10px;
}

.item.item-body p {
  margin-top: 0;
}

.tabs.border-top {
  border-top: 1px solid #ddd !important;
}

.content {
    margin: 3%;
    padding: 2%;
}
#logo {
    text-align: left;
    margin: 0 0 0 5px;
    height: 100%;
    border-radius: 5px;
}
#locate {
    margin: 0 auto;
}